.title__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title__container img{
    margin-bottom: 28px;
}
.title__container__text{
    color: #C0C0C0;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    margin-top: 8px;
    margin-bottom: 40px;
}

.create__password__input{
    font-size: 30px;
    padding: 10px;
}
.w100 {
    width: calc(100%/2);
    left: calc(100%/2);  
    margin-left: 0; 
    top: 20px;
    justify-content: space-around;
}
.w100 button{
    position: relative;
}

.input-error{
    color:red;
}