.title__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title__container img{
    margin-bottom: 28px;
}
.title__container__text{
    color: #C0C0C0;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    margin-top: 8px;
    margin-bottom: 40px;
}

.create__password__input{
    font-size: 30px;
    padding: 10px;
    margin-bottom: 70px;
}