@font-face {
    font-family: 'Gotham Pro';
    src: url('../../fonts/gothampro.ttf');
}
@font-face {
    font-family: 'Nunito';
    src: url('../../fonts/nunito.ttf');
}

body {
    font-family: 'Gotham Pro';
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.wallpaper_container,
.form_container {
  flex: 1;
}

.wallpaper_container{
    display: flex;
    flex-direction: column;
    /* background-size: cover;
    background-position-y: -150px; */
}
.wallpaper_container img{
    height: 100vh;
}
.wallpaper__title{
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    margin-top: 14px;
}

.form_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    width: max(335px);
}
.form__title {
    width: calc((100%/2)/2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute; 
    left: calc(100%/2);   
    top: 20px;
    margin-left: 40px;
}
.return__button img{
    width: 15px;
    height: 12px;
}
.return__button{
    width: 42px;
    height: auto;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    background: rgba(192, 192, 192, 0.2);
    border-radius: 50px;
}
.return__button__control{
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}



.form input::placeholder{
    color: #C0C0C0;
}

.form__input{
    padding: 10px 0px;
    margin-top: 40px;
    width: 100%;
    height: 35px;
    border-bottom: 0.5px solid #C0C0C0;
}

.invalid {
    color: red;
    border-bottom: 0.5px solid red;
}

.show__password__control{
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end;
}
.show__password__button{
    background:inherit;
    border-style: none;    
    position: absolute;
    display: flex;
    margin-bottom: 5px;
}
.show__password__button img{
    width: 20px;
    height: 17.5px;
}
.form__button{
    margin-top: 82px;
    padding: 10px;
    gap: 10px;
    width: 100%;
    height: 44px;
    color: #FFFFFF;
    background: #C0C0C0;
    border-radius: 80px;
    margin-top: 70px;
}

.form__button--active{
    background: #5458EA;
    color:#ffffff;
}

.get__started{
    padding-bottom: 57px;
    padding-top: 100px;
    color: #5458EA;
    font-weight: 700;
    font-size: 16px;
}

.modalText{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
}

.error{
    color: red;
}
